[user]
	email = jack@openclimatefix.org
	name = Jack Kelly
[pull]
	rebase = false
[core]
	editor = nvim
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
